.gray {
  background: whitesmoke;
  height: 2in;
  width: auto;
}

.pad-top {
  padding-top: 5vh;
}

.pad-left {
  padding-left: 5vw;
}

.pad-all {
  padding: 5vh !important;
}

.marg-top-bot {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.cover-photo {
  width: 100%;
  background: gray;
  height: 40vh;
  z-index: -1;
}

.profile-picture {
  position: relative;
  margin: 0 auto;
  height: 20vw;
  width: 20vw;
  top: -10vw;
  z-index: 2;
  border-radius: 100%;
  background: whitesmoke;
  border: 2px solid black;
}
